

{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet"  href="{% static './registration/css/bootstrap.min.css' %}">
</head>

<body>

<div class="container">
	<div class="py-5 text-center bg-secondary text-white">
		<h2 class="mb-3">Create Post</h2>
		<form action="" method="POST" enctype="multipart/form-data">
			<h2>{{ request.user.username }}</h2><br>
			{%if form %}
				{% csrf_token %}
				{%for fm in form %}
					{{fm.label}} {{fm}}	<br><br>
				{% endfor %}
			{% endif %}
			<input type="submit" value="Upload" class="btn btn-outline-primary"></input>
			
			<a href="{% url 'profile' %}" class="btn btn-success">Back</a>
		</form>
		
</body>
</html>