<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet"  href="{% static './registration/css/bootstrap.min.css' %}">
</head>
<body>
	<h2 class="text-center alert alert-info ">{{user.username }} Post</h2>
	<div class="text-center">
		<a href="{% url 'profile' %}" class="btn btn-info">Back</a>
		<a href="{% url 'home' %}" class="btn btn-outline-danger">Logout</a>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4 offset-4">
			{% if request.user.is_authenticated %}
				{% if post_list %}
					{% for mypost in post_list %}
						<div class="text-center">
							<a href="{% url 'Userdetail' mypost.author_id %}">{{mypost.author}}</a><br>
							<strong>{{mypost.title}}</strong><br>
							{{mypost.discription}}<br>
						</div>
						<a href="{% url 'showimagedetail' mypost.id %}">
						<img src="{% if mypost.photo %}{{ mypost.photo.url }}{%else%}#{% endif %}" class="img-responsive" style="width:500px; float: left; margin-right: 10px;"></img></a><br>
						{{mypost.created_on}}
						<br>
						<form action="{% url 'like_post'%}" method="POST">
							{% csrf_token %}
							<input type="hidden" name="mypost_id" value="{{mypost.id}}">
							{% if user not in mypost.liked.all %}
								<button type="submit" value="{{mypost.id}}" name="mypost_id" class="btn btn-primary">like</button>
							{%else%}
								<button type="submit" value="{{mypost.id}}" name="mypost_id" class="btn btn-primary">Unlike</button>
							{% endif %}
						</form>
						
						<a href="{% url 'Updatepost' mypost.id %}" class="btn btn-warning btn-sm">Update</a>
						<a href="{% url 'deletepost' mypost.id %}" class="btn btn-danger">Delete</a><br><br>
						
						<hr>
					{% endfor %}
				{% endif %}
			{% endif %}
		</div>
	</div>
	
</body>
<!--
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
	<script>
	$('.likin').click(function(){
		$.ajax({
			type:"POST",
			
			data:{'mypost_id':$(this).attr(name),'csrfmiddlewaretoken':'{{csrf_token}}'},
			dataType:"json",
			success:function(response){
				seletor=document.getElementByName(response.mypost_id);
				if(response.likes==true){
					$(seletor).html("like");
				}
				else if(response.likes==false){
					$(seletor).html("dislike");
				}
			}
		});
	};
</script>
-->
</html>