<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet"  href="{% static './registration/css/bootstrap.min.css' %}">
</head>
<body>
	<h2 class="text-center alert alert-info ">{{user.username }} Post</h2>
	<div class="text-center">
		<a href="{% url 'profile' %}" class="btn btn-info">Back</a>
		<a href="{% url 'home' %}" class="btn btn-outline-danger">Logout</a>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4 offset-4">
				{% if post_list %}
					{% for mypost in post_list %}
						<div class="text-center">
							<a href="{% url 'Userdetail' mypost.author_id %}">{{mypost.author}}</a><br>
							<strong>{{mypost.title}}</strong><br>
							{{mypost.discription}}<br>
						</div>
						<a href="{% url 'showimagedetail' mypost.id %}">
						<img src="{% if mypost.photo %}{{ mypost.photo.url }}{%else%}#{% endif %}" class="img-responsive" style="width:500px; float: left; margin-right: 10px;"></img></a><br>
						{{mypost.created_on}}
						<br>
						<form action="{% url 'like_post' mypost.id %}" method="POST">
							{% csrf_token %}
							<button type="submit" name="post_id" value="{{mypost.id}}" class="btn btn-primary">Like</button> - {{total_likes}}
						</form>
							<a href="{% url 'Updatepost' mypost.id %}" class="btn btn-warning btn-sm">Update</a>
							<a href="{% url 'deletepost' mypost.id %}" class="btn btn-danger">Delete</a><br><br>
						
						<hr>
					{% endfor %}
				{% endif %}
			
		</div>
	</div>
</body>
</html>