<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet"  href="{% static './registration/css/bootstrap.min.css' %}">

</head>
<body>
	
	
	<div class="row">
		<div class="col-sm-4 offset-4">
			{% block content %} 
			 	{% if request.user.is_authenticated %}
					<h4>hello {{user.username }}</h4>
						<form action="" method="POST">
							{% csrf_token %}
							<a href="{% url 'mypost' user.id %}" class="btn btn-outline-secondary">My Post</a>
							<a href="{% url 'createpost' %}" class="btn btn-info">Create Post</a>
							<a href="{% url 'home' %}" class="btn btn-outline-danger">Logout</a>
							<br><br><br>
							{% for post in  post_list %}	
								
								<a href="{% url 'Userdetail' post.author_id %}">{{post.author}}</a><br>
								{{post.title}}<br>
								{{post.discription}}<br>
								{{post.created_on}}
								<div class="center">
									<img src="{% if post.photo %}{{ post.photo.url }}{%else%}#{% endif %}" class="img-responsive" style="width:500px; float: left; margin-right: 10px;"></img>
								</div><br><br><br><br><br><br>
								
						      	<a href="{% url 'Updatepost' post.id %}" class="btn btn-warning btn-sm">Update</a>
						      	<a href="{% url 'deletepost' post.id %}" class="btn btn-danger">Delete</a><br><br>
							{% endfor %}			
						</form>
				{% endif %}
			{% endblock content %}
			</div>
	</div>

</body>
</html>