<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet"  href="{% static './registration/css/bootstrap.min.css' %}">

</head>
<body>
	{% if request.user.is_authenticated %}
	<h4 class="text-center alert alert-info">hello {{user.username }}</h4>
	<div class="text-center">
		<a href="{% url 'mypost' user.id %}" class="btn btn-outline-secondary">My Post</a>
		<a href="{% url 'createpost' %}" class="btn btn-info">Create Post</a>
		<a href="{% url 'home' %}" class="btn btn-outline-danger">Logout</a>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-4 offset-4">
			{% block content %} 
						<form action="{% url 'like_post' %}" method="POST">
							{% csrf_token %}
							<br><br><br>
							{% for post in  post_list %}	
								<div class="text-center">
									<a href="{% url 'Userdetail' post.author_id %}">{{post.author}}</a><br>
									<strong>{{post.title}}</strong><br>
									{{post.discription}}<br>
									{% if post.photo %}
										<a href="{% url 'showimagedetail' post.id %}">
											<img src="{% if post.photo %}{{ post.photo.url }}{%else%}#{% endif %}" class="img-responsive" style="width:500px; float: left; margin-right: 10px;"></img></a>
										<br><br><br><br><br><br>
									{% endif %}
								</div>	
								{{post.created_on}}<br>							
								{% if user not in post.likes.all %}
									<button value="{{post.id}}" name="mypost_id" class="likin">like</button>
								{% else %}
									<button value="{{post.id}}" name="mypost_id" class="likin">Unlike</button>
								{% endif %}
								{{ post.likes.all.count}}
							
								{% if post.author_id == user.id %}
									<a href="{% url 'Updatepost' post.id  %}" class="btn btn-warning btn-sm">Update</a>
							      	<a href="{% url 'deletepost' post.id %}" class="btn btn-danger">Delete</a><br><br><hr>
							    {% else %}
							    	<a href="{% url 'notvalid' %}" class="btn btn-warning btn-sm">Update</a>
							      	<a href="{% url 'notvalid' %}" class="btn btn-danger">Delete</a><hr>
							    {% endif %} 
							    
							{% endfor %}			
						</form>
			{% endblock content %}
			</div>
	</div>
	{% endif %}
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$('.likin').click(function(evnet){
			event.preventDefault();
			var post_id=$(this).attr('value');
			
			$.ajax({
				type:"POST",
				url:"127.0.0.1:8000/accounts/profile/",
				data:{'id':post_id,'csrfmiddlewaretoken':'{{csrf_token}}'},
				dataType:"json",
				success:function(){
					
					selector=document.getElementsByName(response.id);
					if(response.liked=='like'){
						$(selector)=html('Unline');
					}
					else{
						$(selector)=html('like');
					}
				}
			});
		});
	});	
	</script>
</html>