<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet"  href="{% static './registration/css/bootstrap.min.css' %}">

</head>
<body>
	
	{{fm}}
	<div class="row">
		<div class="col-sm-4 offset-4">
			{% block content %} 
			 	
				<h4>hello {{username}}</h4>
				
					<form action="" method="POST">
						{% csrf_token %}
						
						<a href="{% url 'createpost' %}" class="btn btn-info">Create Post</a>
						<a href="{% url 'home' %}" class="btn btn-outline-danger">Logout</a>
						<br><br><br>
					{%if pst %}
						{% for p in pst %}
							 <br>
							 <br>
							{{p.post_user}}<br>
							{{p.title}}	<br>
							{{p.discription}} <br>
							{{p.date}} <br>
							<div class="center">
								<img src="{{ p.photo.url }}" class="img-responsive" style="width:500px; float: left; margin-right: 10px;"/>
							</div><br><br><br><br><br><br>
							
					      	<a href="" class="btn btn-warning btn-sm">Update</a><br><br>
						{% endfor%}
					{% endif %}			
					</form>
				{% endblock content%}
			</div>
	</div>

</body>
</html>